<form id="register-form" [formGroup]="formularioRegistro" (ngSubmit)="submit()">

  <h1 class="h3 mb-3 fw-normal white-text">Por favor, regístrate</h1>

  <div class="form-floating">
    <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Correo electrónico</label>
  </div>
  <div class="form-floating">
    <input type="password" formControlName="pass1" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Contraseña
      <span>(mínimo 6 caracteres)</span>
    </label>
  </div>
  <div class="form-floating">
    <input type="password" formControlName="pass2" class="form-control" id="floatingPassword2" placeholder="Password">
    <label for="floatingPassword2">Confirmar Contraseña
      <span>(requerido)</span>
    </label>
  </div>
  <div class="form-floating">
    <input type="text" formControlName="nombre" class="form-control" id="floatingName" placeholder="Password">
    <label for="floatingName">Nombre <span>(requerido)</span> </label>
  </div>
  <div class="form-floating">
    <input type="text" formControlName="fecha_na" class="form-control" id="floatingData" placeholder="text">
    <label for="floatingData"> Fecha Nacimiento
      <span>(requerido)</span>
    </label>
  </div>
  <div class="checkbox mb-3">
    <label class="white-text">
      <input type="checkbox" value="acepto" > He leído y acepto los términos y condiciones
    </label>
  </div>
 
  <app-buttons [button]="buttonRegistrame"></app-buttons>
  <app-buttons class="color-quintal" [button]="buttonIrLogin"></app-buttons>

</form>

<br>
<div>{{datos}}</div>