<form id="register-form" [formGroup]="formularioRegistro" (ngSubmit)="submit()">
  <h1 class="h3 mb-3 fw-normal color-white">Por favor, regístrate</h1>
  <div class="form-floating">
    <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">
      <span class="color-red" *ngIf="errorType=='email'">*</span>
      Correo electrónico <span>(requerido)</span>
    </label>
  </div>
  <div class="form-floating">
    <input type="password" formControlName="pass1" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">
      <span class="color-red" *ngIf="errorType=='password'">*</span>
      Contraseña
      <span>(mínimo 6 caracteres)</span>
    </label>
  </div>
  <div class="form-floating">
    <input type="password" formControlName="pass2" class="form-control" id="floatingPassword2" placeholder="Password">
    <label for="floatingPassword2">
      <span class="color-red" *ngIf="errorType=='password2'">*</span>
      Confirmar Contraseña
      <span>(requerido)</span>
    </label>
  </div>
  <div class="form-floating">
    <input type="text" formControlName="nombre" class="form-control" id="floatingName" placeholder="Password">
    <label for="floatingName">
      <span class="color-red" *ngIf="errorType=='nombre'">*</span>
      Nombre <span>(requerido)</span> </label>
  </div>
  <div class="form-floating">
    <input formControlName="fecha_na" class="form-control" id="floatingData" type="date" min="1900-01-01" [max]="today" 
    placeholder="date">
    <label for="floatingData">
      <span class="color-red" *ngIf="errorType=='fecha'">*</span>
      Fecha Nacimiento
      <span>(requerido)</span>
    </label>
  </div>

  
  <div class="checkbox mb-3">
    <span class="color-red" *ngIf="errorType=='aceptTerms'">* </span>
    <label class="color-white">
      <input class="form-check-input" type="checkbox" value="acepto" formControlName="aceptTerms"> He leído y acepto los <a class="color-white" routerLink="/politicas"> términos y condiciones</a>
    </label>
  </div>

  
  <app-buttons [button]="buttonRegistrame"></app-buttons>
  <app-buttons class="color-quintal" [button]="buttonIrLogin"></app-buttons>

</form>


<div class="color-white" *ngIf="error">
  <span class="color-red" *ngIf="errorType==''">*</span>
  {{error}}
</div>  
<div class="color-white" *ngIf="mensaje">
  {{mensaje}}
</div>