<main class="content" id="body">
    <div class="container p-0">
		
		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 align-items-center border-right">

					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1">
								<input type="text" class="form-control my-3" placeholder="Search...">
							</div>
						</div>
					</div>
					
					<app-desplegable [tipo_objeto]="'match'" [lista_objetos]="webSocketService.matches" (chatEvent)="cargarChat($event)" ></app-desplegable>
					<app-desplegable [tipo_objeto]="'chats'"  [lista_objetos]="webSocketService.chatRooms" (chatEvent)="cargarChat($event)" ></app-desplegable>
					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>
				<div class="col-12 col-lg-7 col-xl-9">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							<div class="position-relative">
								<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
							</div>
							<div class="flex-grow-1 pl-3">
								<strong>{{webSocketService.chatUsar.match_id_usu2.nombre}}</strong>
								<div class="text-muted small" *ngIf="webSocketService.chatUsar.estado_conexion_u2=='Conectado'"> <em>Online</em> </div>
								<div class="text-muted small" *ngIf="webSocketService.chatUsar.estado_conexion_u2=='Escriviendo'"> <em>Typing...</em></div>
								<div class="text-muted small" *ngIf="webSocketService.chatUsar.estado_conexion_u2=='Desconectado'"> <em>Offline </em></div>
							</div>
							<div>
								
								<button class="btn btn-light border btn-lg px-3">Review</button>
							</div>
						</div>
					</div>

					<div class="position-relative">
						<div class="chat-messages p-4">
							<!--
							<div class="chat-message-right pb-4">
								<div>
									<img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
									<div class="text-muted small text-nowrap mt-2">2:33 am</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									<div class="font-weight-bold mb-1">You</div>
									Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
								</div>
							</div>

							<div class="chat-message-left pb-4">
								<div>
									<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
									<div class="text-muted small text-nowrap mt-2">2:34 am</div>
								</div>
								<div class="flex-shrink-1 bg-cuaternario-ligero rounded py-2 px-3 ml-3">
									<div class="font-weight-bold mb-1">Sharon Lessman</div>
									Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
								</div>
							</div>
						-->
							<div *ngFor="let chatMessage of webSocketService.chatMessages">
								<app-mensaje [mensaje]="chatMessage"></app-mensaje>
							</div>
						
						</div>
					</div>

					<form (ngSubmit)="sendMessage()" [formGroup]="formularioEnvio">
						<div class="flex-grow-0 py-3 px-4 border-top">
							<div class="input-group">
								<input type="text" class="form-control" formControlName="message" placeholder="Type your message" >
								<button type="submit" class="btn btn-primary">Send</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>