<main class="content" id="body">
  <div class="container p-0">
    <div class="card">
      <div class="row g-0 pt-3">
        <div class="col-12 col-lg-3 col-xl-3 align-items-center border-right">
          <div class="px-4 d-none ">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <input
                  type="text"
                  class="form-control my-3"
                  placeholder="Search..."
                />
              </div>
            </div>
          </div>

          <app-desplegable
            class=""
            [tipo_objeto]="'match'"
            [lista_objetos]="socketService.matches_public"
            (chatEvent)="cargarChat($event)"
          ></app-desplegable>
          <app-desplegable
            class="m-2"
            [tipo_objeto]="'chats'"
            [lista_objetos]="socketService.chats"
            (chatEvent)="cargarChat($event)"
          ></app-desplegable>

		  <hr class="d-block d-lg-none mt-1 mb-0">
        </div>
        <div class="col-12 col-lg-9 col-xl-9">
          <div class="py-2 px-4 border-bottom d-none d-lg-block" *ngIf="typeofUsuario2">
            <div class="d-flex align-items-center py-1">
              <div class="position-relative">
                <app-imagenes
               
                  [config]="config"
                  [imagenes]="socketService.chatUsar.match_id_usu2.fotos" 
                ></app-imagenes>
              </div>
              <div class="flex-grow-1 pl-3 m-2">
                <strong>{{
                  socketService.chatUsar.match_id_usu2.nombre
                }}</strong>
                <div
                  class="text-muted small"
                  *ngIf="
                    socketService.chatUsar.estado_conexion_u2 === 'Conectado'
                  "
                >
                  <em>Online</em>
                </div>
                <div
                  class="text-muted small"
                  *ngIf="
                    socketService.chatUsar.estado_conexion_u2 === 'Escriviendo'
                  "
                >
                  <em>Typing ...</em>
                </div>
                <div
                  class="text-muted small"
                  *ngIf="
                    socketService.chatUsar.estado_conexion_u2 === 'Desconectado'
                  "
                >
                  <em>Offline </em>
                </div>
              </div>
              <div>
                <button class="btn btn-light border btn-lg px-3 d-none ">
                  Review
                </button>
              </div>
            </div>
          </div>
          <div class="py-2 px-4 border-bottom d-lg-none" *ngIf="typeofUsuario2">
            <div class="d-flex align-items-center py-1">
              <div class="position-relative">
                <app-imagenes
                  [config]="config"
                  [imagenes]="socketService.chatUsar.match_id_usu2.fotos"
                ></app-imagenes>
              </div>
              <div class="flex-grow-1 pl-3 m-2">
                <strong>{{
                  socketService.chatUsar.match_id_usu2.nombre
                }}</strong>
                <div
                  class="text-muted small"
                  *ngIf="
                    socketService.chatUsar.estado_conexion_u2 === 'Conectado'
                  "
                >
                  <em>Online</em>
                </div>
                <div
                  class="text-muted small"
                  *ngIf="
                    socketService.chatUsar.estado_conexion_u2 === 'Escriviendo'
                  "
                >
                  <em>Typing ...</em>
                </div>
                <div
                  class="text-muted small"
                  *ngIf="
                    socketService.chatUsar.estado_conexion_u2 === 'Desconectado'
                  "
                >
                  <em>Offline</em>
                </div>
              </div>
              <div>
                <button class="btn btn-light border btn-lg px-3 d-none">
                  Review
                </button>
              </div>
            </div>
          </div>

          <div class="position-relative">
            <!--
						<div class="chat-messages p-4">					
						
							<div *ngFor="let chatMessage of socketService.mensajes[socketService.chatUsar.match_position]">
								<app-mensaje class="position-relative" [mensaje]="chatMessage" [u2]="socketService.chatUsar.match_id_usu2"></app-mensaje>
							</div>
						
						</div>	
						-->

            <cdk-virtual-scroll-viewport
              itemSize="100"
              cdkScrollable
              class="chat-messages2 p-4"
            >
              <app-mensaje
                *ngFor="
                  let chatMessage of socketService.mensajes[
                    socketService.chatUsar.match_position
                  ]
                "
                class="position-relative ml-1y"
                [mensaje]="chatMessage"
                [u2]="socketService.chatUsar.match_id_usu2"
                (imprimido)="scrollEnd()"
              >
              </app-mensaje>
            </cdk-virtual-scroll-viewport>
          </div>

          <form (ngSubmit)="sendMessage()" [formGroup]="formularioEnvio">
            <div class="flex-grow-0 py-3 px-4 border-top">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="message"
                  placeholder="Type your message"
                />
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
