/*
@import "~bootstrap/scss/functions";
// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/forms";
*/
.chat-messages2 {
  height: calc(20 * 1.18em);
  margin-left: 1.5em;
  margin-top: 6px;
}

@media (min-width: 100px) {
  .chat-messages2 {
    height: 13.8em;
    max-height: 70%;
  }
}
@media (min-width: 500px) {
  .chat-messages2 {
    height: 13.8em;
    max-height: 70%;
  }
}


@media (min-width: 750px) {
  .chat-messages2 {
    height: 13.8em;
    max-height: 70%;
    width: 100%;
  }
}


@media (min-width: 978px) {
  .chat-messages2 {
    height: 17em;
    max-height: 100%;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .chat-messages2 {
    height: 13.8em;
    max-height: 30.35em;
    width: 100%;
  }
}
@media (max-height: 500px) {
  .chat-messages2 {
    height: 13.8em;
    max-height: 15.35em;
    width: 100%;
  }
}
@media (max-height: 740px) {
  .chat-messages2 {
    height: 26em;
    //max-height: 15.35em;
  }
}

@media (min-width: 1400px) {
  .chat-messages2 {
    height: 26.5em;
    
  }
}

.chat-online {
  color: #34ce57;
}

.chat-offline {
  color: #e4606d;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto;
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto;
}
.input-group > .form-control-error,
.input-group > .form-select,
.input-group > .form-floating {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
.form-control-error {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    border: 5px solid red;
    box-shadow: 5px rgba(255, 0, 0, 0.663);
    transition: border-color 0s ease-in-out, box-shadow 0s ease-in-out;
  }
}
