<script src="./asets/js/intranet.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<main class="content" id="body">
    <div class="container p-0" *ngIf="error==''">
		<div class="card" *ngIf="error==''">
			<div class="row g-0" *ngIf="error==''">
				
				<div class="col-12 col-lg-7 col-xl-8" *ngIf="error==''">
					<div class="py-2 px-4 border-bottom d-none d-lg-block" *ngIf="error==''">
						<div class="d-flex" *ngIf="error==''">
							<div class="align-items-center text-end"  *ngIf="error==''">
								<div class="row align-items-center"  *ngIf="error==''"> 						
									<div class="col-12 align-items-end text-end slider  " *ngIf="error==''">
										<app-slider [config]="configSlider" (like)="like()" (dislike)="dislike()"></app-slider>
									</div>
									<p></p>
									<p></p>
								</div>
							</div>		
						</div>
					</div>

				</div>
				<div class="col-12 col-lg-5 col-xl-4 border-letf" *ngIf="error==''">

					<div class="px-4 d-none d-md-block" >
						<app-reviews [reviews]="usuarios[contUser].reviews"  ></app-reviews>
					</div>

					<hr class="d-block d-lg-none mt-1 mb-0" > 
				</div>
			</div>
		</div> 
	</div>
	<div class="row align-items-center">
		<div class="col-12 text-center align-items-center"  *ngIf="error!=''">
			
			<p class="h1 col" *ngIf="error!=''">{{error}}</p>
		</div>
	</div>
</main>