
<main class="content" id="body">
    <div class="container " *ngIf="error===''">
		<div class="card  " *ngIf="error===''">
			<div class="row g-0" *ngIf="error===''">
				
				<div class="col-12 .col-sm-12 .col-md-12 col-lg-7 col-xl-8" *ngIf="error===''">

					<div class="border-bottom d-block" *ngIf="error===''">
						<div class="d-flex" *ngIf="error===''">
							<div class="align-items-center text-end"  *ngIf="error===''">
								<div class="row align-items-center"  *ngIf="error===''"> 						
									<div class="col-12 align-items-end text-lg-end slider  " *ngIf="error===''">
										<app-slider [config]="configSlider" (like)="like()" (dislike)="dislike()"></app-slider>
									</div>
									
								</div>
							</div>		
						</div>
					</div>

				</div>
				<div class="col-12 .col-sm-12 .col-md-12 col-lg-5 col-xl-4 border-letf" *ngIf="error===''">

					<div class="d-block" *ngIf="usuarios[contUser].hasOwnProperty('reviews')&&usuarios[contUser].reviews.length!=0" >
						<app-reviews [reviews]="usuarios[contUser].reviews"></app-reviews>
					</div>

				</div>
			</div>
		</div> 
	</div>
	<div class="pantalla-error row align-items-start mt-1 mb-2" *ngIf="error!==''">
		<div class="col-12 text-center align-items-center mb-2 "  *ngIf="error!==''">
			
			<p class="h1 col mb-5" *ngIf="error!==''">{{error}}</p>
			<div class="mb-5"></div>
			<button class="btn btn-terciario mt-5 mb-5" (click)="subscriptionNewUsers()">Volver a cargar</button>
		</div>
	</div>
</main>