@import "~bootstrap/scss/functions";
// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@media (min-width: 250px) {
  .slider {
    margin-left: 1em ;
    margin-right: 1em;
    max-width: 95%;
  }
}
@include media-breakpoint-up(sm) {
  .slider {
    margin-left: 1em ;
    margin-right: 1em;
    max-width: 95%;
  }
}
@include media-breakpoint-up(md) {
  .slider {
    margin-left: 15em !important;
  }
}
@include media-breakpoint-up(lg) {
  .slider {
    margin-left: 15em !important;
  }
}
@include media-breakpoint-up(xl) {
  .slider {
    margin-left: 22em !important;
  }
}
@include media-breakpoint-up(xxl) {
  .slider {
    margin-left: 25em !important;
  }
}

#todas_punt,
#menos {
  display: none;
}

.pantalla-error {
  min-height: 45%;
  height: 13.5em;
}
.buttons {
  margin-left: 2%;
}
.p-0 {
  padding: 0;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 0rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.border-top {
  border-top: 1px solid #dee2e6 !important;
}
