#todas_punt, #menos{
    display:none;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    #image{
        max-width: 30%;
        max-height: 50%;
        min-width: 30%;
        min-height: 50%;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    #image{
        max-width: 30%;
        max-height: 50%;
        min-width: 30%;
        min-height: 70%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    #image{
        max-width: 30%;
        max-height: 50%;
        min-width: 30%;
        min-height: 70%;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .image{
        margin-left: -50px;
        max-width: 350px;
        max-height: 500px;
        min-width: 350px;
        min-height: 500px;
    } 
    .container{
        min-height: 550px;
        max-height: 700px;
        &#body{
            min-height: 550px;
            max-height: 700px;
        }
    }
    
    
    
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .image{
        max-width: 350px;
        max-height: 500px;
        min-width: 350px;
        min-height: 500px;
    } 
    
    div{
        &#intranet{
            min-height: 550px;
            max-height: 700px;
        }
    }
}


.buttons{
    margin-left: 2%;
}
.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto;
   
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}