.margin {
  margin-left: 1em;
  margin-right: 5px;
  margin-bottom: 2px;
}
.rounded-circle {
  @extend .rounded-circle;
  max-width: 2.65em;
  max-height: 2.65em;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 0;
  color: #fff;
  text-align: start;
  padding-left: 0;
  p {
    padding-left: 1.25rem;
    padding-bottom: 0.06rem;
  }
  .row {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.ml-1 {
  margin-left: 0.8em;
}
@import "~bootstrap/scss/functions";
// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@mixin like_dislike(
  $color,
  $font-size-bi: 1.26em,
  $font-size-bi-hover: 2em,
  $font-size: 1.5em
) {
  border-color: $color;
  color: $color;
  font-size: $font-size;
  .bi {
    font-size: $font-size-bi;
  }
  &:hover {
    .bi {
      font-size: $font-size-bi-hover;
    }
  }
}

@mixin circulo(
  $width: 3em,
  $height: 2.5em,

  $background: transparent,
  $color: #fff,
  $font-size-bi: 1em,
  $font-size-bi-hover: 1.2em,
  $font-size: 1.5em,
  $border-radius: 50%
) {
  width: $width;
  height: $height;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
  background: $background;
  border-color: $background;

  &.desplegar {
    @include like_dislike(
      $color: $color,
      $font-size-bi: 1em,
      $font-size-bi-hover: $font-size-bi-hover,
      $font-size: $font-size
    );
  }

  &.replegar {
    @include like_dislike(
      $color: #fff,
      $font-size-bi: 1em,
      $font-size-bi-hover: 1.2em,
      $font-size: 1.5em
    );
  }
}

//xtra small
@include media-breakpoint-up(xs) {
  .circulo {
    @include circulo();
  }
  .circulo-pequenyo {
    @include circulo(
      $width: 1.75em,
      $height: 1.75em,
      $background: #bd00f5,
      $border-radius: 50%
    );
  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
  
  .circulo-pequenyo {
    @include circulo(
      $width: 1.75em,
      $height: 1.75em,
      $background: #bd00f5,
      $border-radius: 50%
    );
  }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  
  .circulo-pequenyo {
    @include circulo(
      $width: 1.75em,
      $height: 1.75em,
      $background: #bd00f5,
      $border-radius: 50%
    );
  }
}

//Large devices
@include media-breakpoint-up(lg) {
  .circulo {
    @include circulo();
  }
  
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  .circulo {
    @include circulo();
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
  .circulo {
    @include circulo();
  }
  .circulo-pequenyo {
    @include circulo(
      $width: 1.75em,
      $height: 1.75em,
      $background: #bd00f5,
      $border-radius: 50%
    );
  }
}
