
<!-- _____________________________________ Rounded ________________________________ -->
<img class=" rounded-circle mr-1" [src]="imagenes[0].imagen_src" *ngIf="config.type==='rounded' && existFotosEnArray()" />
<img class=" rounded-circle mr-1" [src]="imagen_src" *ngIf="config.type==='rounded' && !existFotosEnArray()" />
<img class="rounded-circle margin  mr-1" [src]="imagenes[0].imagen_src" *ngIf="config.type==='rounded-with-margin' && existFotosEnArray()" />
<img class="rounded-circle margin  mr-1" [src]="imagen_src" *ngIf="config.type==='rounded-with-margin' && !existFotosEnArray()" />

<!--__________________________ Imagen en carrusel config avanzada ____________________________-->
<div class="carousel-item" *ngIf="avanzadaNull === false && configAvanzada.config.type === 'slider-imagen'" [class]="actived">
    <img class="d-block w-100" [src]="configAvanzada.img.imagen_src" alt="First slide"/>
    <div class="carousel-caption d-block" >
        <div class="d-flex">
            <span class="h3 ml-1 col-9">
                <span class="fw-bold"*ngIf="
                configAvanzada.config.username">
                    {{configAvanzada.config.username}}
                </span>
                <span class="fw-lighter m-2"*ngIf=" 
                configAvanzada.config.edad">
                    {{configAvanzada.config.edad}}
                </span>
                
            </span>
            <div class="col-3 d-lg-none">
                <button class="circulo-pequenyo desplegar col" (click)="desplegar()" *ngIf="reviewsButtonsService.reviews_visibles===false  
                && reviewsButtonsService.reviews_estan_cargadas===true">
                    <i class="bi bi-arrow-down-short"></i>
                </button>
                <button class="circulo-pequenyo replegar col" (click)="ocultar()" *ngIf="reviewsButtonsService.reviews_visibles===true
                && reviewsButtonsService.reviews_estan_cargadas===true" >
                    <i class="bi bi-arrow-up-short"></i>
                </button>
                
            </div>
        </div>
        <p></p>
        
        <div class="row bg-dark" *ngIf="configAvanzada.config.like_dislike_button===true">
            <div class="col"></div>
            <app-button-circular [type]="dislike" class="col " (click)="dislikeM()"></app-button-circular>
            <div class="col"></div>
            <app-button-circular [type]="like" class="col " (click)="dislikeM()"></app-button-circular>
            <div class="col"></div>
        </div>
    </div> 
</div>