// Source mixins

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .border{
        max-height: 251px;
        max-width: 151px;
        .img{
            max-height: 250px;
            max-width: 150px;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .border{
        max-height: 352px;
        max-width: 152px;
        .img{
            max-height: 350px;
            max-width: 150px;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .border{
        max-height: 352px;
        max-width: 152px;
        .img{
            max-height: 350px;
            max-width: 150px;
        }
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .border{
        max-height: 452px;
        max-width: 252px;
        .img{
            max-height: 450px;
            max-width: 250px;
        }
    }
} 
 
$max-heigt:250px;
$max-width:150px;
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .border,.border-uploader{
        max-height: $max-heigt;
        max-width: $max-heigt;
        .img{
            max-height: $max-heigt;
            max-width: $max-width;
        }
    }
    .border-uploader{
        max-width: $max-width;
    }
}

