// Source mixins
 
$max-heigt:250px;
$max-width:150px;
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .border,.border-imagen{
        max-height: $max-heigt;
        max-width: $max-heigt;
      
    }
    .border-imagen{
        max-width: $max-width !important;
        .img{
            max-height: $max-heigt;
            max-width: $max-width;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .border,.border-uploader{
        max-height: $max-heigt;
        max-width: $max-heigt;
        .img{
            max-height: $max-heigt;
            max-width: $max-width;
        }
    }
    .border-uploader{
        max-width: $max-width !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .border,.border-uploader{
        max-height: $max-heigt;
        max-width: $max-heigt;
        .img{
            max-height: $max-heigt;
            max-width: $max-width;
        }
    }
    .border-uploader{
        max-width: $max-width !important;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .border,.border-uploader{
        max-height: $max-heigt;
        max-width: $max-heigt;
        .img{
            max-height: $max-heigt;
            max-width: $max-width;
        }
    }
    .border-uploader{
        max-width: $max-width !important;
    }
} 
 
$max-heigt:250px;
$max-width:150px;
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .border,.border-uploader{
        max-height: $max-heigt;
        max-width: $max-heigt;
        .img{
            max-height: $max-heigt;
            max-width: $max-width;
        }
    }
    .border-uploader{
        max-width: $max-width !important;
    }
}

