
<form id="login-form text-center" [formGroup]="formularioLogin" (ngSubmit)="submit()">
  <h1 class="h3 mb-3 fw-normal color-white">Por favor, logeate</h1>

  <div class="form-floating">
    <input type="email" formControlName="mail" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Correo electrónico</label>
  </div>
  <div class="form-floating">
    <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Contraseña</label>
  </div>

  <div class="checkbox mb-3">
    <label class="color-white">
      <input type="checkbox"  class="form-check-input" formControlName="rememberMe" value="remember-me"> Recuérdame (Por su seguridad, esto se hara durante 1 semana)
    </label>
  </div>
  <app-buttons [button]="buttonLogueame"></app-buttons>
  <app-buttons [button]="buttonRegistrame"></app-buttons>
  <app-buttons class="color-quintal" [button]="buttoneRecuperar"></app-buttons>
</form>
<div class="color-white" *ngIf="error!=''">
  {{error}}
</div>  