<div class="row text-center " id="ocultar-chat" *ngIf='desplegado==true' (click)="ocultar()">
    <strong class="col-6">Ocultar {{tipo_objeto}}</strong>
    <i class="bi bi-caret-up-fill col-2"></i>	
</div>

<div class="row text-center" id="mostrar-chat" *ngIf="desplegado==false" (click)="mostrar()">
    <strong class="col-6">Mostrar {{tipo_objeto}}</strong>
    <i class="bi bi-caret-down-fill col-2"></i>	
</div>
<div id="con" *ngIf='desplegado==true'>
    <div href="#" class="list-group-item list-group-item-action border-0 " *ngFor="let objeto of lista_objetos" (click)="cambiarChatOMatch(objeto)">
        <!-- Esto es la cantidad total de mensjes que hay/LO IDONEO SERIA QUE FUESE QUE DIJESE LOS NUEVOS MENSAJES los no mostrados-->
        <div class="badge bg-success float-right" *ngIf="con(objeto)">{{objeto.match_count_no_leidos}}</div>
        
        <div class="d-flex align-items-start">
            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
            <div class="flex-grow-1 ml-3">
               {{objeto.match_id_usu2.nombre}}
                <div class="status" *ngIf="objeto.estado_conexion_u2=='Conectado'"> <i class="fa fa-circle online" ></i> Online </div>
                <div class="status" *ngIf="objeto.estado_conexion_u2=='Escriviendo'"> <i class="fa fa-circle online" ></i> Typing... </div>
                <div class="status" *ngIf="objeto.estado_conexion_u2=='Desconectado'"> <i class="fa fa-circle offline" ></i> Offline </div>
            </div>
        </div>
    </div>
    
</div>

<hr class="d-block d-lg-none mt-1 mb-0">
