//Color
$primary:#BD00F5;
$secondary:#18F584;
$terciario:#F5A000;
$cuaternario:#FA0DA5;
$q:#00A4AD;
$white:#fff;
$lightgray:#ccc;
$gray:#999;
$darkgrey:#333;
$verydarkgrey:#222;
$black:#000;
$cuaternario-l:#FA0DA590;

app-login{
    margin:0;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}