


<nav class="navbar navbar-dark bg-primary text-center row">
  <div class="container-fluid col-8">
    <h1 class="h3 text-center color-white">Connecting People</h1>
  </div>
  <div class="col-3">
    <button class="btn btn-dark" (click)="logout()">Log out</button>
  </div>
</nav>
<div class="bg-white" id="intranet">
  <router-outlet></router-outlet>
</div>
<div class="navbar navbar-litgh nav justify-content-center">
  <a class="nav-link color-white" aria-current="page" routerLink="/home" *ngIf="router.url !=='/home'">
    <i class="bi bi-house "></i>
  </a>
  <a class="nav-link color-white border" aria-current="page" routerLink="/home" *ngIf="router.url ==='/home'">
    <i class="bi bi-house-fill"></i>
  </a>
  <a class="nav-link color-white" aria-current="page" routerLink="/intranet/chat" *ngIf="router.url !=='/intranet/chat'">
    <i class="bi bi-chat"></i> 
    <i class="fa fa-circle notificacion"*ngIf="socketService.hay_cambios" ></i>
  </a>
  <a class="nav-link color-white border" aria-current="page" routerLink="/intranet/chat" *ngIf="router.url ==='/intranet/chat'">
    <i class="bi bi-chat-fill "></i> 
    <i class="fa fa-circle notificacion"*ngIf="socketService.hay_cambios" ></i>
  </a>
 
  <a class="nav-link color-white" aria-current="page" routerLink="/intranet/personal" *ngIf="router.url !=='/intranet/personal'">
    <i class="bi bi-person "></i>
  </a>
  <a class="nav-link color-white border" aria-current="page" routerLink="/intranet/personal" *ngIf="router.url ==='/intranet/personal'">
    <i class="bi bi-person-fill"></i>
  </a>
</div>

