/*@import url('../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss');
@include media-breakpoint-down(sm){
    div{
        &#intranet{
            min-height:500px;
        }
    }
}
@include media-breakpoint-down(md){
    div{
        &#intranet{
            min-height:700px;
        }
    }
}
@include media-breakpoint-down(lg){
    div{
        &#intranet{
            min-height:700px;
        }
    }
}
*/

@media (min-width: 576px) { 
    div{
        &#intranet{
           min-height:350px;
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    div{
        &#intranet{
           min-height:450px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    div{
        &#intranet{
           min-height:470px;
           height: 80%;
           max-height: 600px;
        }
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    div{
        &#intranet{
           min-height:550px;
           height: 80%;
           max-height: 700px;
        }
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .image{
        max-width: 350px;
        max-height: 500px;
        min-width: 350px;
        min-height: 500px;
    } 
    
    div{
        &#intranet{
            min-height: 650px;
            height: 80%;
            max-height: 800px;
        }
    }
}
