/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
//Colors
$primary: #bd00f5;
$secondary: #18f584;
$terciario: #f5a000;
$cuaternario: #fa0da5;
$q: #00a4ad;
$white: #fff;
$lightgray: #ccc;
$gray: #999;
$darkgrey: #333;
$verydarkgrey: #222;
$black: #000;
$cuaternario-l: #fa0da590;
@mixin background($theme: #bd00f5) {
  background: $theme !important;
}
@mixin color($color: white) {
  color: $color !important;
}
@mixin theme($background: #bd00f5, $color: white) {
  color: $color;
  background: $background;
}

//background
.bg-primary {
  @include background;
}
.bg-secondary {
  @include background($theme: $secondary);
}
.bg-terciario {
  @include background($theme: $terciario);
}
.btn-outline-terciario {
  --bs-btn-color: #f5a000;
  --bs-btn-border-color: #f5a000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f5a000;
  --bs-btn-hover-border-color: #f5a000;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f5a000;
  --bs-btn-active-border-color: #f5a000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f5a000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f5a000;
  --bs-gradient: none;
}
.bg-cuaternario {
  @include background($theme: $cuaternario);
}
.bg-quintal {
  @include background($theme: $q);
}

.a {
  @include theme($background: $white, $color: #333);
  &:hover {
    background: $gray;
  }
}

//Color stiles
.color-white,
.white-text .color-secondary-hover:hover {
  @include color();
}
.color-primary {
  @include color($color: $primary);
}
.color-secondary {
  @include color($color: $secondary);
}
.color-quintal {
  @include color($color: $q);
}
.color-red {
  @include color($color: #ff0000);
}
.margin-0 {
  margin: 0;
}
.light-text-color {
  @include color($color: $lightgray);
}
//button

@mixin btn($back, $c: #fff) {
  color: $c;
  background-color: $back;
  border-color: $back;
}
@mixin btn-modular($bc: #fff, $back, $c: #fff) {
  color: $c;
  background-color: $back;
  border-color: $bc;
}

.btn-primary,
.btn-primary:hover {
  @include btn($primary, $white);
}

.btn-terciario,
.btn-terciario:hover {
  @include btn($terciario, $lightgray);
  &:hover {
    @include btn($terciario, $white);
  }
}

.btn-vacio-terciario {
  @include btn-modular($bc: $terciario, $back: $primary, $c: $lightgray);
  &:hover {
    @include btn-modular($bc: $terciario, $back: $primary, $c: $white);
  }
}

.btn-vacio-primary {
  @include btn($primary, $white);
  &:hover {
    @include btn-modular($bc: $secondary, $back: $primary, $c: $white);
  }
}
