/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

//Colors
$primary:#BD00F5;
$secondary:#18F584;
$terciario:#F5A000;
$cuaternario:#FA0DA5;
$q:#00A4AD;
$white:#fff;
$lightgray:#ccc;
$gray:#999;
$darkgrey:#333;
$verydarkgrey:#222;
$black:#000;
$cuaternario-l:#FA0DA590;
@mixin background($theme: #BD00F5) {
    background: $theme !important;
}
@mixin color($color:white){
    color:$color !important;
}
@mixin theme($background:#BD00F5, $color:white) {
    color:$color;
    background: $background;
}

//background
.bg-primary{
    @include background;
}
.bg-secondary{
    @include background($theme:$secondary)
}
.bg-terciario{
    @include background($theme:$terciario)
}
.bg-cuaternario{
    @include background($theme:$cuaternario)
}
.bg-quintal{
    @include background($theme:$q)
}

//Color stiles
.color-white, .white-text{
    @include color();
}
.color-primary{
    @include color($color:$primary);
}
.color-secondary{
    @include color($color:$secondary);
}
.color-quintal{
    @include color($color:$q);
}
.margin-0{
    margin: 0;
}
.light-text-color{
    @include color($color:$lightgray)
}
//button

@mixin btn($back,$c:#fff){
    color: $c;
    background-color: $back;
    border-color: $back;
  }
@mixin btn-modular($bc:#fff,$back,$c:#fff){
    color: $c;
    background-color: $back;
    border-color: $bc;
}
  
.btn-primary, .btn-primary:hover{
    @include btn($primary,$white);
}
   
.btn-terciario,.btn-terciario:hover{
    @include btn($terciario,$white);
}

.btn-vacio-primary{
    @include btn($primary,$white);
    &:hover{
        @include btn-modular($bc:$cuaternario,$back:$primary,$c:$white);

    }
}

  



