@mixin image-mixin(
  $image-max-width: 50%,
  $image-max-height: 50%,
  $image-min-width: 30%,
  $image-min-height: 70%,
  $width:100%,
  $height:100%
) {
  max-width: $image-max-width;
  max-height: $image-max-height;
  min-width: $image-min-width;
  min-height: $image-min-height;
  width: $width;
  height:$height;
}

@mixin container-mixin(
  $container-max-width: 30%,
  $container-max-height: 50%,
  $container-min-width: 30%,
  $container-min-height: 70%
) {
  max-width: $container-max-width;
  max-height: $container-max-height;
  min-width: $container-min-width;
  min-height: $container-min-height;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .image {
    @include image-mixin(
      $image-max-width: 20em,
      $image-max-height: 30em,
      $image-min-width: 18%,
      $image-min-height: 30%,
      $height:100%
    );
    padding-top: 1em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .image {
    @include image-mixin(
      $image-max-width: 20em,
      $image-max-height: 30em,
      $image-min-width: 18%,
      $image-min-height: 30%,
      $height:100%
    );
    padding-top: 1em;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .image {
    @include image-mixin(
      $image-max-width: 17em,
      $image-max-height: 22em,
      $image-min-width: 18%,
      $image-min-height: 30%,
      $height:100%
    );
    padding-top: 1em;
  }
  
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .image {
    @include image-mixin(
      $image-max-width: 17em,
      $image-max-height: 25em,
      $image-min-width: 20%,
      $image-min-height: 30%,
      $height:100%
    );
    padding-top: 1em;
  }
  
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .image {
    max-width: 350px;
    max-height: 500px;
    min-width: 350px;
    min-height: 500px;
  }
  .container {
    max-width: 350px;
    max-height: 500px;
    min-width: 350px;
    min-height: 500px;
  }
}
